<!-- signup.component.html -->
<form [formGroup]="signupForm" (ngSubmit)="signup()">
    <!-- Your form fields go here -->
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" formControlName="password">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">

    <button type="submit">Signup</button>
</form>
